html {
    width: 100%;
    height: 100%;
}

body {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
}

header {
    background-color: black;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.logo {
    float: left;
    width: 60%;
    vertical-align: middle;
    margin-left: 3%;
}

.menu {
    float: right;
    width: 40%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 3%;
}

a.logolink {
    color: white;
    background-color: transparent;
    text-decoration: none;
    vertical-align: middle;
}

a.menulink {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a.footlink {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.localizacion {
    flex: 7.5;
    display: flex;
    flex-direction: column;
    background-color: #353535;
}

main {
    flex: 7.5;
    display: flex;
    flex-direction: column;
    background-color: #353535;
}

footer {
    background-color: #D2D7DF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact {
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.copy {
    margin-right: 3%;
    height: 3%;
    flex-direction: column-reverse;
}


/*Estilos de Localizacion*/

.alojamiento {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #353535;
}

.celebracion {
    flex: 1;
    color: black;
    background-color: #FFD600;
    display: flex;
}

.transporte {
    flex: 1;
    color: black;
    background-color: #FFFFFF;
    display: flex;
}

.imgLocalizacion {
    flex: 1;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
}

.descrLocal {
    flex: 1;
    margin-left: 3%;
    margin-right: 10%;
}